* {
  margin: 0;
}
.cardProjectTitle {
  width: 85%;
  margin: 0 auto;
  :hover {
    @include textRotation;
  }
}
.card-style {
  @include flex-row-justify;
  flex-wrap: wrap;
  gap: 45px;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px 1em 50px 1em;
  margin: 0px 0px 50px 0px;
  /*border: solid $font-color 2px;*/
  @include desktop-large {
    gap: 35px;
  }

  @include tab {
    gap: 20px;
    padding: 2em 0.5em;
    margin: 0 auto;
  }
  @include phone {
    padding: 2em 0.35em;
    gap: 2em;
    width: 95%;
  }
  .card {
    width: 45%;
    height: 340px;
    border-radius: 20px;
    position: relative;
    @include desktop {
      height: 280px;
      width: 45%;
    }

    @include tab {
      height: 265px;
      width: 90%;
    }

    &:hover img {
      filter: grayscale(0);
      transform: scale(1.1);
      opacity: 1;
    }

    img {
      border-radius: 20px;
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
      /*filter: invert(100%);*/
      opacity: 0.4;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .card-title {
      width: auto;
      height: auto;
      position: absolute;
      bottom: 5%;
      left: 3%;
      border-radius: 0.5em;
      padding: 0.2em 0.7em;
      background-color: $font2-color;
      color: $title-color;
      font-family: $font-secondary;
      font-size: 1.3em;
      font-weight: 900;
      font-style: italic;
      margin: 0;
      display: flex;
      align-items: flex-end;

      @include phone {
        height: 15%;
        border-radius: 1.2em;
      }
    }
  }
}
.modalContainer {
  padding: 1em 0.6em;
  margin: -10px;
  border-radius: 20px;
  background: #dcdcdc;
  border: 3px solid $jaune-dor;

  .closeModal {
    padding: 5px 10px;
    border-radius: 1em;
    cursor: pointer;
    background: lighten($font-color, 3%);
    border: 1px solid darken($font-color, 4%);
    box-shadow: 0px 2px 0 darken($font-color, 5%),
      2px 4px 6px darken($font-color, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: 150ms ease-out;
    &:hover {
      background: darken($font-color, 1.5%);
      border: 1px solid rgba(#000, 0.05);
      box-shadow: 1px 1px 2px rgba(#fff, 0.2);
      color: lighten($font-color, 18%);
      text-decoration: none;
      text-shadow: -1px -1px 0 darken($font-color, 9.5%);
      transition: 250ms ease-out;
    }
  }
  .carousel img {
    transition: transform 03s ease;
    &:hover {
      transform: scale(1.5);
    }
  }
  .carouselArrow {
    width: 45px;
    height: 36px;
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
    z-index: 3;
    cursor: pointer;

    @include phone {
      height: 30px;
      width: 24px;
    }
  }

  .carouselArrowRight {
    right: 1%;
    border-radius: 50%;
    padding: 6px 3px 4px 5px;

    @include phone {
      padding: 6px 3px 4px 5px;
    }
  }

  .carouselArrowLeft {
    left: 1%;
    border-radius: 50%;
    padding: 6px 3px 4px 5px;

    @include phone {
      padding: 6px 5px 4px 3px;
    }
  }
  .carouselCounter {
    position: absolute;
    bottom: -1.5em;
    right: 50%;
    color: $bg-color;
    font-family: "Grandstander";
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: -2px;

    @include phone {
      display: none;
    }
  }
}
.react-responsive-modal-modal {
  width: 90%;
}
