.backlinks {
  
  display: flex;
  gap: 2em;
  background-color: $font2-color;
  font-size: 1.5em;
  padding: 5px 1em;
  border-radius: 1em;
  margin-bottom: 20px;

  @include phone {
    padding: 0px 1.5em;
    gap: 0.5em;
    padding: 5px 0.3em;
  }
  li a {
    font-family: $font-secondary;
    font-size: 1em;
    color: $bg-color;
    text-decoration: none;

    @include phone {
      font-size: 0.7em;
    }

    &:hover {
      color: lighten($color: $h2, $amount: 0.9);
    }
  }
  a.tooltip em {
    display: none;
  }

  a.tooltip:hover {
    position: relative;
    z-index: 500;
  }

  a.tooltip:hover em {
    display: block;
    position: absolute;
    top: -100px;
    left: -50px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background: $jaune-dor;
    color: $neutral-color;
    font-size: 1em;
    padding: 5px 10px;

    @include phone {
      top: -70px;
    }
  }
}
