.aboutTitle {
  width: 85%;
  margin: 0 auto;
}

.aboutSection {
  width: 100%;
  font-size: 1.2em;
  background-color: transparent;
  color: $font1;
  padding: 15px 1em 0.5em 1em;
  margin: -10px auto 60px auto;
  border-radius: 25px;
  /*border: 2px solid $font-color;*/
  font-family: $font-main;
  font-size: 1.5em;
  font-weight: 600;
  &:hover {
    color: $bg-color;
   // background-color: black;
    border: 2px solid $neutral-color;
    box-shadow: 5px 5px 5px $neutral-color;
  }

  @include tab {
    width: 95%;
  }

  @include phone {
    width: 90%;
    font-size: 0.8em;
    padding: 15px 0.2em 0.5em 0.2em;
  }
}
