
.accordion-item {
    width: 100%;
    margin: 30px auto 0;
    border-radius: 3px;
    background: #f1f1f1;
    border: none;
}

.dropdownTitle {
    background: #ff6060;
    width: 100%;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
}
.dropdownTitle span {
    padding: 15px 0;
    font-size: 20px;
}
.accordion-visible img {
    width: 20px;
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
}
.dropdownTitle img.active {
    transform: rotate(0deg)
}

.dropdownTitle span {
    font-size: 20px;
}

.accordion-toggle {
    height: 0px;
    font-size: 18px;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #333;
}

.animated {
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
   
}

.accordion-toggle p {
    margin: 0;
    padding: 22px 15px;
    pointer-events: none;
    color: #ff6060;
    line-height: 1.3;
}