.page404 {
  width: 100%;
  @include flex-column;
  @include flex-justify-items-center;

  h1 {
    font-size: 258px;
    font-weight: 700;
    color: $font-color;
    margin: 89px 0 139px 0;

    @include tab {
      font-size: 170px;
    }

    @include phone {
      font-size: 96px;
      margin: 86px 0 113px 0;
    }
  }

  p {
    font-size: 2em;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 139px;
    text-align: center;
    color: $font2-color;

    @include phone {
      font-size: 1.5em;
      margin-bottom: 113px;
      width: 100%;
    }
  }
}