.contactForm {
  @include phone {
    width: 100%;
    margin: 0 auto;
  }
  form {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    padding: 0.6em 1em;
    /*border: 2px $font-color solid;*/
   /* border-radius: 1em;
    margin-bottom: 1em;*/

    @include phone {
      padding: 0.6em 0.2em;
    }
  }

  input,
  textarea {
    border: 0;
    background-color: $fond;
    color: $bg-color;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: flex;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    resize: none;
  }
  input#input-submit {
    @include phone {
      width: 90%;
      margin: 0.5em auto;
    }
  }
  #input-submit {
    color: $bg-color;
    font-size: 1.5em;
    font-family: $font-secondary;
    font-weight: 900;
    background: #e74c3c;
    cursor: pointer;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    justify-content: center;
  }
  #input-submit:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  textarea {
    height: 126px;
  }
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  .right {
    width: 50%;
  }
  .left {
    margin-right: 2%;
  }
  @include phone {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }
  .cf {
    @include phone {
      width: 90%;
      margin: 5px auto;
    }
  }
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  .cf:after {
    clear: both;
  }
}
