$title-color: #3e3128;
$bg-color: #12110F;
$bg2-color: #1c1816;
$font-color: #dbb954;
$font2-color: #f2e1ca;
$border-color: #7c5f46;
$gradient: linear-gradient(to right, #28211d, #614a39);
$gradientClair : linear-gradient(to right, #C0C0C0, #a9a9a9);
$neutral-color: #eeeeec;
$font-main: "Montserrat";
$font-secondary: "Grandstander";
$jaune-dor: #ac4000;
/*$h2: #f4f2f1;*/
$h2: #ddd5d1;
$fond: #ada9a8;
$carouselHl: 450px;
$carouselHm: 350px;
$carouselHs: 300px;
$font1 : orangered;
