.banner {
  border: solid $font-color 1px;
  border-radius: 1.2em;
  padding: 0;
  position: relative;
  margin-top: 1em;
  margin-bottom: 38px;
  opacity: 0.7;
  &:hover {
   opacity: 0.8;
   .banner-text {
     span {
      color: white;
      opacity: 0.8;
    }
   }
  }

  @include phone {
    height: 5em;
    width: 90%;
    background-color: $font2-color;
    filter: invert(100%);
    margin: 0 auto;
  }

  img {
    height: 223px;
    width: 100%;
    border-radius: 1.2em;
    object-fit: cover;
    filter: grayscale(1);

    @include tab {
      height: 176px;
    }

    @include phone {
      display: none;
      background-color: red;
      padding: 1em 0.5em;
    }
  }

  .banner-text {
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
    margin: 0;
    @include flex-row;
    @include flex-justify-items-center;
    gap: 5px;
    @include fadein;
    &:hover span{
      color: $font1;
    }

    @include tab {
      padding: 0;
      margin: 0;
      width: 100%;
      font-size: 20px;
      text-align: left;
      padding: 16px;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    @include phone {
      width: 90%;
    }

    span {
      font-size: 3.2em;
      color: $font1;
      font-family: $font-secondary;
      font-weight: 500;

      @include desktop-large {
        font-size: 2.6em;
      }

      @include desktop {
        font-size: 2em;
      }

      @include tab {
        font-size: 1.5em;
      }

      @include phone {
        color: $bg-color;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  }
}
